:root {
    --mainBackground: rgb(53, 53, 53);

    --text1: rgb(228, 228, 228); 

    --gridFill: rgb(207, 207, 207);
    --gridOutline:rgb(117, 117, 117);
}

h1 {
    color: var(--text1);
}

body {
    background-color: var(--mainBackground);
}

#grid-renderer>svg {
    position: sticky;
}

#grid-renderer>svg>defs>pattern#smallGrid>path {
    position: relative;
    fill:var(--gridFill);
    outline: var(--gridOutline);
}

#grid-renderer>svg>defs>pattern#grid>path {
    position: relative;
    outline: var(--gridOutline);
}